
   
   .container {
       width: 80%;
       max-width: 600px;
       margin: 0 auto;	
   }
   
   table{
       width: 100%;
   }
   
   thead{
       font-weight: bold;
   }
   
   td{	
       border: 1px solid #ddd;
       padding: 2px;
   }
   
   
   .project > .title {
       margin-bottom: 0px;
   }
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   